.project-view {
	position: relative;
	z-index: 0;

	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	padding: clamp(1.5rem, 10vw, 4rem) 0;
}

.project-view::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;

	width: 100%;
	height: 100%;

	mix-blend-mode: color-burn;
	background-attachment: fixed;
	background-image: radial-gradient(circle at right top, rgba(28, 28, 246, 0.9) 5%, rgba(57, 43, 237, 0.75) 20%, rgba(233, 233, 233, 0.75) 70%);
}

.wrapper {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	width: 100%;
}

.pv-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: clamp(.5rem, 1.5vw, 1.5rem);
	margin-bottom: clamp(1.5rem, 4vw, 3rem);
}

.pv-title__text {
	margin: 0;
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 700;
	color: var(--color-neutral-100);
}

.pv-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: clamp(2rem, 7.5vw, 4rem);
}

.pv-logo__image {
	width: auto;
	height: 100%;
}

.pv-blocks {
	width: 100%;
}

.pv-blocks--columns {
	column-count: auto;
	column-width: clamp(16rem, 45vw, 32rem);
	column-gap: clamp(.5rem, 1.5vw, 1.5rem);
}

.pv-blocks--columns .pv-block {
	margin-bottom: clamp(1.5rem, 4vw, 3rem);

	break-inside: avoid;
}

.pv-blocks--list {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: clamp(1.5rem, 5vw, 2rem);
}

.pv-block {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: clamp(.5rem, 1.5vw, 1.5rem);

	border-radius: 1rem;
	background-color: rgba(238, 238, 238, 0.8);
	box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.pv-block--dark {
	background-color: var(--color-primary-500);
	color: var(--color-neutral-100);
}

.pv-block__title {
	margin: 0 0 clamp(.5rem, 1.5vw, 1.5rem);
	padding-bottom: clamp(.5rem, 1vw, 1rem);

	font-size: clamp(1.25rem, 2.5vw, 2rem);
	font-weight: 700;

	border-bottom: 1px solid var(--color-neutral-400);
}

.pv-block__nav {
	display: flex;
	flex-direction: column;
	gap: clamp(.5rem, 1.5vw, 1.5rem);
}

.pv-block__preview {
	display: flex;
	flex-wrap: wrap;
	gap: clamp(1rem, 2.5vw, 2rem);
	width: 100%;
}

.pv-block__items {
	display: flex;
	max-width: 100%;
	width: 100%;
	flex-direction: column;
	gap: clamp(.5rem, 1.5vw, 1.5rem);
}

.pv-block__item {
	max-width: 100%;
}

.pv-block__devider {
	width: 100%;
	flex: 1 1 100%;
	border-bottom: 1px solid var(--color-neutral-400);
}

.pv-block__items--row {
	flex-direction: row;
	align-items: flex-end;
	flex-wrap: wrap;
	column-gap: clamp(1rem, 2.5vw, 2rem);
	flex: 1 1 100%;
}

.pv-block__items--align-start {
	align-items: flex-start;
}

.pv-link {
	display: block;
	margin: 0;
	padding: 0;

	font-size: clamp(1rem, 1.5vw, 1.25rem);
	font-weight: 700;
	text-decoration: none;
	color: var(--color-primary-400);

	transition: all .3s ease;
}

.pv-link:hover, .pv-link:focus {
	opacity: .5;
}
