.modal
	--modal-py: #{rem(48)}
	--modal-px: #{rem(48)}
	--modal-width: #{rem(544)}

	--modal-border-radius: #{rem(60)}

	position: relative

	padding: var(--modal-py) var(--modal-px)
	width: var(--modal-width)
	max-width: 100%
	margin: auto auto

	background-color: var(--color-neutral-primary)
	border-radius: var(--modal-border-radius)

	&__close
		position: absolute
		top: rem(-16)
		right: rem(-16)
		z-index: var(--z-index-above)

	&__title
		line-height: var(--lineHeightH2)
		font-size: var(--fontSizeH4)
		font-weight: 700

		&:not(:last-child)
			margin-bottom: rem(16)

	&__text
		line-height: var(--lineHeightP1)
		font-size: var(--fontSizeP1)
		font-weight: 400

		&:not(:last-child)
			margin-bottom: rem(16)

	&__bottom
		margin-top: 32px

	&__buttons
		display: flex
		gap: rem(16)
