.btn
	--btn-px: #{rem(22)}
	--btn-py: #{rem(14)}
	--btn-gap: #{rem(8)}

	--btn-font-family: var(--font-secondary)
	--btn-font-size: var(--fontSizeP1)
	--btn-line-height: var(--lineHeightP1)
	--btn-font-weight: 600
	--btn-text-transform: uppercase

	--btn-color: var(--color-primary)
	--btn-color-hover: var(--color-neutral-tertiary)
	--btn-color-active: var(--color-neutral-tertiary)
	--btn-color-disabled: var(--color-neutral-secondary)

	--btn-bg: var(--color-neutral-tertiary)
	--btn-bg-hover: #E36821
	--btn-bg-active: #BC4500
	--btn-bg-disabled: #FAF6EE

	--btn-border-size: 2px
	--btn-border-color: transparent
	--btn-border-color-hover: transparent
	--btn-border-color-active: transparent
	--btn-border-color-disabled: transparent

	--btn-radius: var(--radius-btn)

	--btn-loader-color: var(--color-primary-rgb)
	--btn-icon-size: #{rem(20)}

	display: flex
	align-items: center
	justify-content: center
	gap: var(--btn-gap)
	padding: var(--btn-py) var(--btn-px)
	min-height: calc(var(--btn-font-size) * var(--btn-line-height) + var(--btn-py) * 2 + var(--btn-border-size) * 2)

	font-family: var(--btn-font-family)
	font-size: var(--btn-font-size)
	line-height: 1
	font-weight: var(--btn-font-weight)
	color: var(--btn-color)
	text-transform: var(--btn-text-transform)
	text-align: center
	text-decoration: none

	background-color: var(--btn-bg)
	border: var(--btn-border-size) solid var(--btn-border-color)
	border-radius: var(--btn-radius)

	cursor: pointer
	transition: color .3s ease, border-color .3s ease, background-color .3s ease

	&:focus
		outline: none

	&:focus-visible
		outline: 2px solid var(--btn-bg-hover)
		outline-offset: 2px

	+hover
		--btn-color: var(--btn-color-hover)
		--btn-bg: var(--btn-bg-hover)
		--btn-border-color: var(--btn-border-color-hover)

	&:active
		--btn-color: var(--btn-color-active)
		--btn-bg: var(--btn-bg-active)
		--btn-border-color: var(--btn-border-color-active)

	&:disabled,
	&.disabled
		--btn-color: var(--btn-color-disabled)
		--btn-bg: var(--btn-bg-disabled)
		--btn-border-color: var(--btn-border-color-disabled)

		cursor: not-allowed

		&:focus-visible
			outline: none

	&.disabled
		pointer-events: none

	&.loading
		cursor: wait

		& > *
			display: none

		&::before
			content: ''
			size: var(--btn-icon-size)
			display: block
			flex: none

			border-radius: 50%
			border-width: 2px
			border-style: solid
			border-color: currentColor rgba(var(--btn-loader-color), .3) rgba(var(--btn-loader-color), .3)

			transition: border-color .3s ease
			animation: spin360 .7s linear infinite

	&__text
		display: block
		flex: none

	&__icon
		display: block
		size: var(--btn-icon-size)
		flex: none

		color: currentColor

	&--color
		&-secondary
			--btn-color: var(--color-neutral-tertiary)
			--btn-color-hover: var(--color-neutral-tertiary)
			--btn-color-active: var(--color-neutral-tertiary)
			--btn-color-disabled: var(--color-neutral-tertiary)

			--btn-bg: var(--color-secondary)
			--btn-bg-disabled: #E29D6E

			--btn-loader-color: var(--color-neutral-tertiary-rgb)

