.btn
	--btn-px: #{fluid(16, 22)}
	--btn-py: #{fluid(8, 14)}
	--btn-gap: #{fluid(4, 8)}

	--btn-font-family: var(--font-secondary)
	--btn-font-size: var(--fontSizeP1)
	--btn-line-height: var(--lineHeightP1)
	--btn-font-weight: 600
	--btn-text-transform: uppercase

	--btn-color: var(--color-primary)
	--btn-color-hover: var(--color-neutral-tertiary)
	--btn-color-active: var(--color-neutral-tertiary)
	--btn-color-disabled: var(--color-neutral-secondary)

	--btn-bg: var(--color-neutral-tertiary)
	--btn-bg-hover: #E36821
	--btn-bg-active: #BC4500
	--btn-bg-disabled: #FAF6EE

	--btn-border-size: 2px
	--btn-border-color: transparent
	--btn-border-color-hover: transparent
	--btn-border-color-active: transparent
	--btn-border-color-disabled: transparent

	--btn-radius: var(--radius-btn)

	--btn-loader-color: var(--color-primary-rgb)
	--btn-icon-size: #{fluid(16, 20)}

	display: flex
	align-items: center
	justify-content: center
	gap: var(--btn-gap)
	padding: var(--btn-py) var(--btn-px)
	min-height: calc(var(--btn-font-size) * var(--btn-line-height) + var(--btn-py) * 2 + var(--btn-border-size) * 2)

	font-family: var(--btn-font-family)
	font-size: var(--btn-font-size)
	line-height: 1
	font-weight: var(--btn-font-weight)
	color: var(--btn-color)
	text-transform: var(--btn-text-transform)
	text-align: center
	text-decoration: none

	background-color: var(--btn-bg)
	border: var(--btn-border-size) solid var(--btn-border-color)
	border-radius: var(--btn-radius)

	cursor: pointer
	transition: color .3s ease, border-color .3s ease, background-color .3s ease

	&:focus
		outline: none

	&:focus-visible
		outline: 2px solid var(--btn-bg-hover)
		outline-offset: 2px

	+hover
		--btn-color: var(--btn-color-hover)
		--btn-bg: var(--btn-bg-hover)
		--btn-border-color: var(--btn-border-color-hover)

	&:active
		--btn-color: var(--btn-color-active)
		--btn-bg: var(--btn-bg-active)
		--btn-border-color: var(--btn-border-color-active)

	&:disabled,
	&.disabled
		--btn-color: var(--btn-color-disabled)
		--btn-bg: var(--btn-bg-disabled)
		--btn-border-color: var(--btn-border-color-disabled)

		cursor: not-allowed

		&:focus-visible
			outline: none

	&.disabled
		pointer-events: none

	&.loading
		cursor: wait

		& > *
			display: none

		&::before
			content: ''
			size: var(--btn-icon-size)
			display: block
			flex: none

			border-radius: 50%
			border-width: 2px
			border-style: solid
			border-color: currentColor rgba(var(--btn-loader-color), .3) rgba(var(--btn-loader-color), .3)

			transition: border-color .3s ease
			animation: spin360 .7s linear infinite

	&__text
		display: block
		flex: none

	&__icon
		display: block
		size: var(--btn-icon-size)
		flex: none

		color: currentColor

	&[data-count]
		position: relative

		&::after
			content: attr(data-count)
			position: absolute
			right: calc(var(--btn-px) - rem(7))
			bottom: calc(var(--btn-py) - rem(4))

			display: flex
			align-items: center
			justify-content: center
			size: rem(14)
			padding: rem(2)

			font-size: var(--fontSizeP4)
			line-height: 1
			color: var(--color-primary)
			font-weight: 500

			background-color: var(--color-tertiary)
			border-radius: 50%

			+while-mob-xl
				right: calc(var(--btn-px) - rem(3))
				bottom: calc(var(--btn-py) - rem(3))

				size: rem(10)

				font-size: rem(8)

	&--color
		&-secondary
			--btn-color: var(--color-neutral-tertiary)
			--btn-color-hover: var(--color-neutral-tertiary)
			--btn-color-active: var(--color-neutral-tertiary)
			--btn-color-disabled: var(--color-neutral-tertiary)

			--btn-bg: var(--color-secondary)
			--btn-bg-disabled: #E29D6E

			--btn-loader-color: var(--color-neutral-tertiary-rgb)

		&-tertiary
			--btn-color: var(--color-primary)
			--btn-color-hover: var(--color-primary)
			--btn-color-active: var(--color-primary)
			--btn-color-disabled: #7D360B

			--btn-bg: var(--color-tertiary)
			--btn-bg-hover: #FFE459
			--btn-bg-active: #F1B10E
			--btn-bg-disabled: #E6941A

			--btn-loader-color: var(--color-primary-rgb)

	&--rounded
		--btn-px: #{fluid(8, 12)}
		--btn-py: #{fluid(8, 12)}

		--btn-radius: 50%

		min-height: unset
		height: calc(var(--btn-icon-size) + var(--btn-py) * 2 + var(--btn-border-size) * 2)
		width: calc(var(--btn-icon-size) + var(--btn-px) * 2 + var(--btn-border-size) * 2)
