.link
	--link-gap: #{fluid(4, 8)}

	--link-font-family: var(--font-secondary)
	--link-font-size: var(--fontSizeP1)
	--link-line-height: var(--lineHeightP1)
	--link-font-weight: 600
	--link-text-transform: uppercase

	--link-color: var(--color-primary)
	--link-color-hover: #E36821
	--link-color-active: #BC4500
	--link-color-disabled: var(--color-neutral-secondary)

	--link-icon-size: #{fluid(16, 20)}

	display: inline-flex
	align-items: center
	justify-content: center
	gap: var(--link-gap)
	min-height: calc(var(--link-font-size) * var(--link-line-height))

	font-family: var(--link-font-family)
	font-size: var(--link-font-size)
	line-height: 1
	font-weight: var(--link-font-weight)
	color: var(--link-color)
	text-align: center
	text-transform: var(--link-text-transform)
	text-decoration: none

	cursor: pointer
	transition: color .3s ease

	&:focus
		outline: none

	&:focus-visible
		text-decoration: underline
		text-decoration-color: var(--link-color-hover)
		text-decoration-thickness: 2px
		text-underline-offset: 2px

	+hover
		--link-color: var(--link-color-hover)
		--link-border-color: var(--link-border-color-hover)

	&:active
		--link-color: var(--link-color-active)
		--link-border-color: var(--link-border-color-active)

	&:disabled,
	&.disabled
		--link-color: var(--link-color-disabled)
		--link-border-color: var(--link-border-color-disabled)

		cursor: not-allowed

		&:focus-visible
			text-decoration: none

	&.disabled
		pointer-events: none

	&__icon
		display: block
		size: var(--link-icon-size)
		flex: none

		color: currentColor

	&--secondary
		--link-font-family: var(--font-primary)
		--link-text-transform: none

	&--size
		&-small
			--link-font-size: var(--fontSizeP3)
			--link-font-weight: 500
			--link-icon-size: #{fluid(14, 18)}

		&-medium
			--link-font-size: var(--fontSizeP2)
			--link-font-weight: 500
			--link-icon-size: #{fluid(14, 18)}

		&-big
			--link-font-size: var(--fontSizePBig)
			--link-icon-size: #{rem(28)}

		&-large
			--link-font-size: var(--fontSizeH5)
			--link-font-weight: 700
			--link-icon-size: #{rem(32)}

	&--color
		&-secondary
			--link-color: var(--color-neutral-secondary)

		&-tertiary
			--link-color: var(--color-neutral-tertiary)

		&-fourth
			--link-color: var(--color-secondary)
