.form
	&__title
		font-weight: 600
		font-size: var(--fontSizeH5)
		line-height: var(--lineHeightH2)
		margin-bottom: fluid(24, 40)

	&__inputs
		display: grid
		grid-gap: fluid(24, 40) fluid(16, 24)
		margin: 0

		& + .form__inputs
			margin-top: fluid(24, 40)

		&--2
			grid-template-columns: repeat(2, minmax(0,1fr))

		&--3
			grid-template-columns: repeat(3, minmax(0,1fr))

		&--4
			grid-template-columns: repeat(4, minmax(0,1fr))

		&--5
			grid-template-columns: repeat(5, minmax(0,1fr))

	&__input
		&--2
			grid-column: span 2

		&--3
			grid-column: span 3

		&--4
			grid-column: span 4




