.form
	&__top
		display: flex
		flex-direction: column
		gap: rem(16)

		&:not(:last-child)
			margin-bottom: rem(48)

	&__title
		font-family: var(--font-secondary)
		font-size: var(--fontSizeH3)
		font-weight: 500
		line-height: var(--lineHeightH2)
		text-transform: uppercase

	&__text
		font-size: var(--fontSizeP1)
		font-weight: 600
		line-height: var(--lineHeightP1)

	&__inputs
		display: grid
		grid-gap: rem(32) rem(24)
		margin: 0

		& + .form__inputs
			margin-top: rem(40)

		&--2
			grid-template-columns: repeat(2, minmax(0,1fr))

		&--3
			grid-template-columns: repeat(3, minmax(0,1fr))

		&--4
			grid-template-columns: repeat(4, minmax(0,1fr))

		&--5
			grid-template-columns: repeat(5, minmax(0,1fr))

	&__input
		&--2
			grid-column: span 2

		&--3
			grid-column: span 3

		&--4
			grid-column: span 4

	&__bottom
		margin-top: rem(40)
		display: flex
		align-items: flex-start
		justify-content: space-between
		gap: rem(48)

	&__policy
		flex: 0 1 rem(390)

		font-size: var(--fontSizeP3)
		font-weight: 500
		line-height: var(--lineHeightP1)

		&--grey
			color: var(--color-neutral-secondary)

	&__submit
		flex: 1 1 auto
		display: flex
		align-items: center
		flex-wrap: wrap
		gap: rem(8)

		&--rtl
			justify-content: flex-end

	&__underhint
		font-size: var(--fontSizeP3)
		font-weight: 500
		line-height: var(--lineHeightP1)

		opacity: .5


