.fadeInUp
	opacity: 0
	transform: translate3d(0, 35px, 0)
	transition: opacity 0.5s linear, transform 0.7s ease
	transition-delay: 0.25s

	&.animate
		opacity: 1
		transform: translate3d(0, 0, 0)

.fadeInBottom
	opacity: 0
	transform: translate3d(0, -35px, 0)
	transition: opacity 0.5s linear, transform 0.7s ease
	transition-delay: 0.25s

	&.animate
		opacity: 1
		transform: translate3d(0, 0, 0)

.fadeInLeft
	opacity: 0
	transform: translate3d(35px, 0, 0)
	transition: opacity 0.5s linear, transform 0.7s ease
	transition-delay: 0.25s

	&.animate
		opacity: 1
		transform: none

.fadeInRight
	opacity: 0
	transform: translate3d(-35px, 0, 0)
	transition: opacity 1s linear, transform 1.1s ease
	transition-delay: 0.25s

	&.animate
		opacity: 1
		transform: none
