@use "sass:math"

html
	scroll-behavior: smooth
	font-size: calc(16 / 1920) * 100vw

	+media('max', 'pc')
		font-size: calc(16 / 1600) * 100vw

	+media('max', 'laptop-xxl')
		font-size: calc(16 / 1440) * 100vw

	+media('max', 'laptop')
		font-size: calc(16 / 1024) * 100vw

	+media('max', 'tablet')
		font-size: calc(16 / 768) * 100vw

	+media('max', 'mobile-xl')
		font-size: calc(16 / 375) * 100vw

	+media-until(320)
		font-size: calc(16 / 320) * 100vw


html,
body
	height: 100%

body
	min-width: $minWidth + px
	margin: 0 auto

	font-family: var(--font-primary)
	font-weight: 500
	color: var(--color-primary)

	background-color: var(--color-neutral-primary)
	overflow-x: hidden

	scrollbar-color: var(--color-neutral-tertiary) var(--color-secondary)
	scrollbar-width: thin

	&::-webkit-scrollbar /* 1 - скроллбар */
		width: 6px
		appearance: none
		-webkit-appearance: none

	&::-webkit-scrollbar-track /* 3 - трек */
		border-radius: 10px
		background: var(--color-neutral-tertiary)

	&::-webkit-scrollbar-thumb /* 5 - ползунок */
		border-radius: 10px
		background-color: var(--color-secondary)
		border: 2px solid var(--color-secondary)

	&.modal-lock
		overflow: hidden

		padding-right: var(--scrollbar-compensate, 0px)

*::selection
	color: var(--color-neutral-tertiary)
	background-color: var(--color-neutral-fourth)

	-webkit-tap-highlight-color: transparent

.scroll-lock
	overflow: hidden

/* Оболочка */
#app
	height: 100%
	width: 100%

.layout
	display: flex
	flex-direction: column
	padding-bottom: rem(24)
	min-height: 100%

.wrapper
	@if ($containerWidth > 0)
		max-width: rem($containerWidth)
		margin: 0 auto

	@if ($containerPadding > 0)
		padding: 0 rem(math.div($containerPadding, 2))
