\:root
	// Цвета
	--color-white: #fff
	--color-black: #000

	// Основные цвета
	--color-primary: #2B1F17
	--color-primary-rgb: 43, 31, 23
	--color-secondary: #CF4C00
	--color-secondary-rgb: 207, 76, 0
	--color-tertiary: #FDDC34
	--color-tertiary-rgb: 253, 220, 52

	// Нейтральные цвета
	--color-neutral-primary: #F4EDDC
	--color-neutral-primary-rgb: 244, 237, 220
	--color-neutral-secondary: #948E80
	--color-neutral-secondary-rgb: 148, 142, 128
	--color-neutral-tertiary: #FFFFFF
	--color-neutral-tertiary-rgb: 255, 255, 255
	--color-neutral-fourth: #EADDBD
	--color-neutral-fourth-rgb: 234, 221, 189

	// Вспомогательные цвета
	--color-negative: #EC4646
	--color-positive: #60CF5D
	--color-warning: #FFD646
	--color-info: #3AA1EC

	// Тени
	--shadow-primary: 0px -4px 15px 0px rgba(43, 31, 23, 0.08)

	// Радиусы
	--radius-btn: #{rem(50)}

	// =======================
	// Типографика
	--font-primary: Montserrat, sans-serif
	--font-secondary: Oswald, sans-serif

	// 40px - min / 64px - default
	--fontSizeH1: #{fluid(40, 64)}
	// 32px - min / 64px - default
	--fontSizeH2: #{fluid(32, 64)}
	// 20px - min / 28px - default
	--fontSizeH3: #{fluid(20, 28)}
	// 18px - min / 24px - default
	--fontSizeH4: #{fluid(18, 24)}
	// 16px - min / 18px - default
	--fontSizeH5: #{fluid(16, 18)}
	// 14px - min / 16px - default
	--fontSizeH6: #{fluid(14, 16)}

	// 16px - min / 18px - default
	--fontSizeP1: #{fluid(16, 18)}
	// 14px - min / 16px - default
	--fontSizeP2: #{fluid(14, 16)}
	// 12px - min / 14px - default
	--fontSizeP3: #{fluid(12, 14)}

	// =======================
	// Межстрочный интервал
	--lineHeightH1: 1.3
	--lineHeightH2: 1.4

	--lineHeightP1: 1.4

	// =======================
	// Инпуты
	--di-font-size: #{fluid(14, 16)}
	--di-line-height: 1.4
	--di-color: var(--color-neutral-900)
	--di-color-disabled: var(--color-neutral-trans-500)
	--di-color-error: var(--color-negative)

	--di-bg: var(--color-neutral-100)
	--di-bg-disabled: var(--color-neutral-trans-100)
	--di-bg-focus: var(--color-primary-300)

	--di-border-color: var(--color-neutral-500)
	--di-border-color-hover: var(--color-primary-500)
	--di-border-color-active: var(--color-primary-600)
	--di-border-color-disabled: var(--color-neutral-trans-500)
	--di-border-color-error: var(--color-negative)
	--di-border-width: 2px
	--di-border-radius: var(--radius-l)

	--di-py: #{fluid(12, 16)}
	--di-px: #{fluid(16, 24)}

	--di-placeholder-color: var(--color-neutral-500)

	// =======================
	// Хлебные крошки
	--breadcrumb-font-size: inherit
	--breadcrumb-line-height: inherit
	--breadcrumb-icon-margin: #{rem(4)}
